@page "/GetLeaveTypeDetails"
@using HR.LeaveManagement.UI.ApiClient;
@using HR.LeaveManagement.UI.Contracts;
@using HR.LeaveManagement.UI.Models.LeaveTypes;
@inject HttpClient Http
@inject ILeaveTypeService _client;


<PageTitle>HR Leave Management System</PageTitle>

<h1>Leave Type Details</h1>

<p>Enter Id for Leave Type Details </p>
<input type="text" @bind="@id" />
<Button id="create-btn" Color="ButtonColor.Primary" @onclick="OnClickEvent"> Leave Type Details </Button>


@if (leaveTypeDetails == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Default Days</th>
                <th>Date Created</th>
                <th>Date Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@leaveTypeDetails.Id</td>
                <td>@leaveTypeDetails.Name</td>
                <td>@leaveTypeDetails.DefaultDays</td>
                <td>@leaveTypeDetails.DateCreated</td>
                <td>@leaveTypeDetails.DateModified</td>
            </tr>

        </tbody>
    </table>
}

@code {
    private LeaveTypeDetailsDto leaveTypeDetails;
    private int id;
    //private MarkupString text;
    //protected override async Task OnInitializedAsync()
    //{
    //    leaveTypeDetails = await ApiExecuter.InvokeGet<LeaveTypeDetailsDto>($"api/LeaveTypes/{id}");
    //}

    protected async void OnClickEvent()
    {
        leaveTypeDetails = await _client.GetLeaveTypeDetails(id);

    }



    //public class LeaveTypeDetails
    //{
    //    public int Id { get; set; }
    //    public string Name { get; set; } = string.Empty;
    //    public int DefaultDays { get; set; }
    //    public DateTime? DateCreated { get; set; }
    //    public DateTime? DateModified { get; set; }
    //}
}